{% extends "layout.html" %}
{% load static %}

{% block contenido %}
    <h1>Lista de Equipo</h1>
    <hr />
    <table class=" table table-stripped">
<div class="row">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-1">Real Madrid</h4>
      <p>Año_creacion : 1902 </p>
      <p>Campeon : Verdadero  </p>

      <h4 id="list-item-2">Barcelona</h4>
      <p>Año_creacion : 1899 </p>
      <p>Campeon : Falso  </p>

      <h4 id="list-item-3">La roja</h4>
      <p>Año_creacion : 1895 </p>
      <p>Campeon : verdadero  </p>

    </div>
  </div>
</div>
</div>
    </tbody>
    </table>
{% endblock %}